/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

/*Variáveis para cores*/

:root{
    --Preto: #000;
    --Branco: #fff;
}

/* Layout */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
     font-family: "Cousine", monospace;
}

#Diego{
    color: #fff;
}

#biografia{
    color: #fff;
}